{% extends 'dashboard.html' %}

{% block conteudo %}

<!-- breadcrumb -->
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
        <a href="{{ url('admin/dashboard') }}">
            Home
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ url('admin/categorias/index') }}">
            Categorias
        </a>
    </li>
    <li class="breadcrumb-item active">
        Novo
    </li>
</ol>

<div class="card mb-4">
    <!-- <div class="card-header"></div> -->
    <div class="card-body">
        <form
            action="{% if categoria.id %}{{ url('admin/categorias/editar/'~categoria.id) }}{% else %}{{ url('admin/categorias/cadastrar') }}{% endif %}"
            method="post">
            <!-- TITULO -->
            <div class="mb-3">
                <label for="titulo" class="form-label">Título:</label>
                <input type="text" class="form-control" name="titulo" id="titulo" value="{{ categoria.titulo }}" />
            </div>
            <!-- TEXTO -->
            <div class="mb-3">
                <label for="texto" class="form-label">Texto:</label>
                <textarea class="form-control" name="texto" id="texto" rows="3">{{ categoria.texto }}</textarea>
            </div>
            <!-- STATUS -->
            <div class="mb-3">
                <label for="status" class="form-label">Status:</label>
                <select class="form-select" name="status" id="status">
                    <option value="1" {% if categoria.status=='1' %}selected{% endif %}>Ativo</option>
                    <option value="0" {% if categoria.status=='0' %}selected{% endif %}>Inativo</option>
                </select>
            </div>
            <!-- BOTÃO -->
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" name="btn-salvar" id="btn-salvar" value="Salvar" />
            </div>

        </form>
    </div>
</div>

{% endblock conteudo %}